<div class="step" data-x="0" data-y="0" data-z="20000" data-scale="25">
CTF
</div>
<% @circles.each do |c| %>
	<% scale = 6 - (  c[:depth] ) -1 %>
	<div class="step" data-x="<%= 2*c[:point][0] %>" data-y="<%= c[:point][1] %>" data-z="<%= scale*5000 %>" data-scale="<%= 2**scale %>">
	        <h1 class="<%= c[:type] %>"><%= c[:unit].name %></h1>
	        <span class="try"><%# c[:point].to_json %></span>
	</div>
<% end %>

