<div class="step" id="CTF" data-x="0" data-y="0" data-z="20000" data-scale="70">
CTF
</div>
<% @circles.each do |c| %>
	<% scale = 6 - (  c[:depth] ) -1 %>
	<div class="step <%= c[:category] if c[:category]%>" id="<%= c[:unit].name.split(' ').join('-') %>" data-x="<%= 2*c[:point][0] %>" data-y="<%= c[:point][1] %>" data-z="<%= scale*5000 %>" data-scale="<%= 2**scale %>">
	        <h1 class="<%= c[:type] %> ajax-role"><%= link_to c[:unit].name,unit_roles_path(c[:type],c[:unit]) %></h1>
	        <span class="try"><%# c[:point].to_json %></span>
	</div>
<% end %>

       <script>$(document).ready(function(){impress().init();});</script>
