<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>CTF-Junior Workflow</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="<%= asset_url 'reveal.css'%>">
		<link rel="stylesheet" href="<%= asset_url 'theme/black.css'%>" id="theme">


	</head>
		<body>
		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Junior workflow </h1>
					<h3>CTF '15-'16</h3>
					<p class="fragment">
						<small>Created by M.Mithul</small>
					</p>
				</section>
				<section>
					<h2>Instructions</h2>
					<p class="fragment">You may move between slides by pressing the directional keys(tougher) or by pressing space(easier).</p>
					<p class="fragment">In case of directional keys always try going down. Only if there are no further slides below try going right.</p>
				</section>

				

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>Example</h2>
						<p class="fragment">For conducting any event.</p>
						<small class="fragment">Any Event, Workshop, GL, XCEED or Karnival event is refered to as <span class="fragment highlight-red">event</span> for simplicity.</small>
						<small class="fragment">PS: There is no bias towards any team/bucket in the examples, any example being stated is only to take a particular scenario for easy explanation.</small>
					</section>
					<section>
						<h2>How it was done earlier</h2>
						<p class="fragment">If a poster was required for an event:</p>
						<ul> 
							<li class="fragment">The junior would inform/remind the Kore and give any specific requirements or content, if any.</li>
							<li class="fragment">The Event Kore would inform the Design Kore.</li>
							<li class="fragment">The Design Kore would inform their junior.</li>
							<li class="fragment">Once completed the poster would be then sent to the Design Kore then the Event Kore then the event junior.</li>
						</ul>
						
					</section>
					<section>
						<h2>How it was done earlier</h2>
						<ul> 
							<li class="fragment">In case of any modifications the same process would have to repeat.</li>
							<li class="fragment">Once finalised a similar process would be followed to market the poster where now instead of the design team, interactions would be done with the marketing team.</li>
						</ul>
						
					</section>
					<section>
						<h2>Why is this flow bad</h2>
						<p class="fragment">Loss of clarity</p>
						<ul> 
							<li class="fragment">The exact requirements is known best by the event organiser and communicating this to the Design Junior throught the Event Kore and then the Design Kore then the Design Junior would result in only half the requirements being emphasised.</li>
						</ul>
						
					</section>
					<section>
						<h2>Why is this flow bad</h2>
						<p class="fragment">Lack of communication</p>
						<ul> 
							<li class="fragment"> The above is still acceptable if done for one event, however this is never the case. The Events Kore has to handle the requirements for 40+ events and the Design Kore has to make sure design requirements for all these events as well as other requirements are met, and also make make changes if required.</li>
							<li class="fragment">This would surely result in some requirements being missed out.</li>
						</ul>
					</section>
					<section>
						<h2>Why is this flow bad</h2>
						<p class="fragment">Who is accountable??</p>
						<ul> 
							<li class="fragment">If a requirement is not met, it is difficult to decide who is accountable. Is is the event junior, the Event Kore, the Design Kore or the design junior?</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h1>The new Flow</h1>
					</section>
					<section>
						<h2>Brief description</h2>
						<ul>
							<li class="fragment">Extend the current structure to the juniors</li>
							<li class="fragment">Each junior will be part of a circle/bucket</li>
							<li class="fragment">Each junior will be responsible for interaction with juniors of other circles/buckets</li>
						</ul>
					</section>
					<section>
						<h2>Requirements</h2>
						<ul>
							<li class="fragment">Kores need to appoint juniors who will be Points of Contacts for each circle/bucket</li>
							<li class="fragment">Juniors will need to have good decision abilities and must be able to handle responsibilities</li>
						</ul>
					</section>
					<section>
						<h2>Advantages</h2>
						<ul>
							<li class="fragment">Most of the work gets completely delegated to juniors</li>
							<li class="fragment">In case of issues or lack of performance of a particular circle, It is easy to identify who is accountable</li>
							<li class="fragment">Juniors get a huge amount of experience</li>
							<li class="fragment">Juniors get to know the structure better</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h1>The new Flow - Example</h1>
					</section>
					<section>
						<h2>Event - HR - Design Interaction</h2>
						<p class="fragment">Every event would have an organiser who is reposible for this event.</p>
						<p class="fragment">This junior would be responsible for designating juniors for any requirement ie. if organiser of <span class="fragment highlight-red">Event1</span> requires a poster, the event junior <span class="fragment highlight-red">event_junior</span>, approaches the HR junior <span class="fragment highlight-red">hr_junior</span></p>
						<p class="fragment"><span class="fragment highlight-red">hr_junior</span> assigns a Design junior <span class="fragment highlight-red">design_junior</span> who can, from this point on, be directly contacted by <span class="fragment highlight-red">event_junior</span> for any design requirement for <span class="fragment highlight-red">Event1</span></p>
						
					</section>
					<section>
						<h2>Event - HR - Design Interaction</h2>
						
						<p class="fragment">These juniors now form a circle <span class="fragment highlight-red">event1_circle</span> whos role is to make <span class="fragment highlight-red">Event1</span> a success.</p>
						<p class="fragment">A similar flow is observed for any other inter-bucket junior interactions.</p>
					</section>
				</section>
				<section>
					<section>
						<h1>Bucket-wise junior role</h1>
					</section>
					<section>
						<h2>Events Bucket</h2>
						<p class="fragment">Ideally this would be a 3rd year organiser. He would be in-charge of his event completely ie. from conducting the event to giving requirements to design posters, get the logistics for the event etc.</p>
					</section>
					<section>
						<h2>Events Bucket</h2>
						<p class="fragment">If he requires a poster to be made. He approaches the designated design junior for him. Any design requirements are placed only with this design junior.</p>
					</section>
					<section>
						<h2>HR Bucket</h2>
						<p class="fragment">The <span class="fragment highlight-red">hr_junior</span> acts as a load balancer and a contact for incases where a junior belonging to a circle does not know who to contact for a certain requirement.</p>
						<p class="fragment">The <span class="fragment highlight-red">hr_junior</span> will be responsible for any documentation that is required in his circle <span class="fragment highlight-red">event1_circle</span> and to ensure continuous progress is made and no conflicts arise.</p>
					</section>
					<section>
						<h2>Design Bucket</h2>
						<p class="fragment">There must be sufficient <span class="fragment highlight-red">design_juniors</span> present in order to handle requirements without too much of delay.</p>
						<p class="fragment">Each <span class="fragment highlight-red">design_junior</span> once assigned and placed into a temporary circle will be responsible for delivering the design requirements for that circle.</p>
					</section>
					<section>
						<h2>Design Bucket</h2>
						<p class="fragment">The <span class="fragment highlight-red">design_junior</span> does not need to work alone in order to complete any requirement, but will be responsible for completing it, regardless of it being done by him/her alone or by delegating it to someone.</p>
					</section>
					<section>
						<h2>Ops Bucket</h2>
						<p class="fragment">The role of juniors of the Operations bucket would be to provide any logistic or hospitality requirements for a temporary circles once they are assigned to that circle.</p>
						<p class="fragment">There may be two juniors(1-logistics + 1 hospi) assigned to a temporary circle.</p>
					</section>
					<section>
						<h2>Marketing & Media Bucket</h2>
						<p class="fragment">The role of juniors of the Marketing & Media Bucket would be to ensure the succesful publicising of the event for which the temporary circle is formed, once they are assigned to that circle.</p>
					</section>
					<section>
						<h2>Marketing & Media Bucket</h2>
						<p class="fragment">The role of juniors of the Marketing & Media Bucket would be to ensure the succesful publicising of the event for which the temporary circle is formed, once they are assigned to that circle.</p>
					</section>
					<section>
						<h2>IR Bucket</h2>
						<p class="fragment">These juniors would only be part of this workflow only in cases of events that are sponsored by a company eg. Microsoft's Tame the Code</p>
						<p class="fragment">The junior i will be responsible for furnishing any details regarding the sponsorship and its status in the circle they are assigned.</p>
					</section>
					<section>
						<h2>Finance Bucket</h2>
						<p class="fragment">Similar to the Role of the Kore's, the role of finance juniors would be to approve and provide budgets that are required by the circle.</p>
					</section>
					<section>
						<h2>Tech Bucket</h2>
						<p class="fragment">These juniors would handle any tech requirements for the circle as well as be responsible for the updation of content, as given by members of the circle, for the site and app.</p>
					</section>
				</section>


				<section>
					<h1>Thank you</h1>
				</section>

				<!-- <section>
					<h2>Speaker View</h2>
					<p>There's a <a href="https://github.com/hakimel/reveal.js#speaker-notes">speaker view</a>. It includes a timer, preview of the upcoming slide as well as your speaker notes.</p>
					<p>Press the <em>S</em> key to try it out.</p>

					<aside class="notes">
						Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
					</aside>
				</section>
 -->
			</div>

		</div>
		
		<script src="<%= asset_url 'head.min.js'%>"></script>
		
		<script src="<%= asset_url 'reveal.js'%>"></script>
		<script>
			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: "<%= asset_url 'notes.js'%>", async: true },
					{ src: "<%= asset_url 'zoom.js'%>", async: true }
				]
			});

		</script>
	</body>
</html>
