<p id="notice"><%= notice %></p>

 <h1> <%= @task.title %></h1>

<p>
  <strong>Category:</strong>
  <%= @task.category %>
</p>
<p>
  <strong>Circle that initiated the task:</strong>
  <%= @task.circle.name %>
</p>
  
  From : <%= @task.from %><br>
  To : <%= @task.to %>

<p>
  <strong>Description:</strong>
  <%= raw @task.description %>
</p>


<%= link_to 'Edit', edit_task_path(@task) if current_user.member.circles.include? @task.circle %>
<%# link_to 'Back', tasks_path %>