<%= simple_form_for(@role) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :circle %>
    <%= f.association :member %>
    <%= f.input :name %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
