<p id="notice"><%= notice %></p>

<p>
  <strong>Circle:</strong>
  <%= @role.circle %>
</p>

<p>
  <strong>Member:</strong>
  <%= @role.member %>
</p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
