<!--<style>

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
</style>-->

<h1>Editing report</h1>
<style>
	<%= Diffy::CSS %>
	.diff .diff-block-info{
		color:white;
	}
</style>
<div class="row">
	<div class="col-sm-8">
		<%= render 'form' %>
	</div>
	<div class="col-sm-4 well">
		<h3>History</h3>
			<%= 'No history yet' if !@report.versions or @report.versions.count==0 %>
			<% @report.versions.each do |version| %>
				<% if version.reify %>
				<div class="well">
					<div class="row">
						<div class="col-sm-8">
							<b>Edited by: </b><%= raw version.reify.user.member.name if version.reify.user %>
						</div>
						<div class="col-sm-4">
								<%= raw version.reify.created_at %>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<%= raw(@diffy.new(version.reify.description, version.next.reify.description, :include_diff_info => true, :context => 1).to_s(:html_simple)) if version.next%>
							<%= raw(@diffy.new(version.reify.description, @report.description, :include_diff_info => true, :context => 1).to_s(:html_simple)) if !version.next%>
							<%# raw(Diffy::SplitDiff.new(version.reify.description, version.next.reify.description, :format => :html)) if version.next%>
						</div>
						<div class="col-sm-4">
							<%= link_to "Check this version",report_history_path(id: @report.id ,:ver=> version, :format => :pdf) %>
						</div>
					</div>
				</div>
				<% end %>
				<!-- <div class="row">
					<hr class="style-two">
				</div> -->
			<% end %>
	</div>
</div>

<%= link_to 'Show', @report %> |
<%= link_to 'Back', reports_path %>
