<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Circles" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Circles" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'impress-demo', media: 'all', 'data-turbolinks-track' => true if @impress_enable  %>
    <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div role="main">
       <div id="<%= 'impress' if @impress_enable %>" class="<%= 'container' unless @impress_enable %>">
       <br>
       <br>
       <br>
       <br>
       <%= render 'layouts/messages' %>
        <%= yield %>
       </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
       <script>impress().init();</script>
    </div>
    <% if @impress_enable %>
        <a class="top-right" href="#/CTF">Back to CTF</a>
      <div class="perma-links">
        <%= link_to 'Add member', new_member_path %> |
        <%= link_to 'Add circle', new_circle_path %>
      </div>
    <% end %>
    <div class="modal fade bs-example-modal-lg" id="roles-modal" style="z-index:9999;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="main-circle pull-right"></h4>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-8">
                <ul class="roles">
                </ul>
              </div>
              <div class="col-md-4"> 
                <!-- <h3>Other circles</h3> -->
                <ul class="circles">
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <a class="btn btn-primary roles-full">See Seperately</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
</html>
