<%= simple_form_for(@member) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.simple_fields_for :circles do |member| %>
      <%= render 'circle_fields', :f => member %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Circle', f, :circles %>
    </div>
    <%= f.simple_fields_for :roles do |member| %>
      <%= render 'role_fields', :f => member %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Role', f, :roles %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
